*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   width: 100%;
   height: 100vh;
}
.chat-container{
    width: 100%;
    height: 85%;
    background-color:#063970;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    overflow: auto;
}
.user-chat-box{
    width: 60%;
    position:relative;
    left: 40%;
   
}
.ai-chat-box{
    width: 60%;
    position: relative;
    

   
}
.user-chat-area{
    width: 90%;
    padding: 20px;
    
    background-color:#67bed9 ;
    
    border-radius: 40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;

}
.ai-chat-area{
    width: 90%;
    padding: 20px;
    background-color: #1e81b0;
    position: relative;
    left: 10%;
    border-radius: 0px 40px 40px 40px;
    box-shadow: 2px 2px 10px black;

}
#userimage{
    position: absolute;
    right: 0;
    filter: drop-shadow(2px 2px 10px black);
    border:2px  solid blue;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
#aiimage{
    position: absolute;
    left: 0;
    filter: drop-shadow(2px 2px 10px black);
    border:2px  solid blue;
    border-radius: 50%;
}
.prompt-area{
    width: 100%;
    height:15%;
    
    background-color:#114276;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.prompt-area input{
    width: 50%;
    height: 50px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.prompt-area button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blueviolet;
    border: none;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    transition: all 0.5s;
}
.prompt-area button:hover{
    background-color: rgba(221, 34, 190, 0.668);
}
.load{
    filter: drop-shadow(2px 2px 10px rgb(96, 92, 92));
}
#submit{
    background-color:#174475;

}
#image{
    background-color: #174475;
}
#submit:hover{
    background-color: #2a5b8f;
}
#image:hover{
    background-color: #2a5b8f;
}